
<!doctype html>
<html>
<% include ../partial/admin-head.ejs %>
<body>
<div id="wrapper">
  <% include ../partial/dash-header.ejs %>
  <% include ../partial/side-bar.ejs %>

  <div id="page-wrapper" >
   <div id="page-inner">

     <div class="row stats">
     <div class="col-md-4 col-xs-12">
       <div class="stat-elements">
         <div class="row " style="background-color:#f48942; margin-right:0px; margin-left:0px; margin-top:0px;padding-top:10px;padding-bottom:10px;">
           <div class="col-md-6">
       <a >
           <i class="glyphicon glyphicon-user" ></i>
       </a>
       </div>
       <div class="col-md-6">
       <h4><%= count  %> Users</h4>
       </div>
       </div>
       <div class="row">
         <div class="col-md-12">
        <a href=""> <h4>Registered</h4></a>
         </div>
         </div>
     </div>
     </div>
     <div class="col-md-4 col-xs-12">
       <div class="stat-elements">
         <div class="row " style="background-color:brown; margin-right:0px; margin-left:0px; margin-top:0px;padding-top:10px;padding-bottom:10px;">
           <div class="col-md-6">
       <a >
           <i class="glyphicon glyphicon-home" ></i>
       </a>
       </div>
       <div class="col-md-6">
       <h4><%= room  %> Ads</h4>
       </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          <a href=""> <h4>View</h4></a>
         </div>
         </div>
     </div>

     </div>
     <div class="col-md-4 col-xs-12">
       <div class="stat-elements">
         <div class="row " style="background-color:#578e41; margin-right:0px; margin-left:0px; margin-top:0px;padding-top:10px;padding-bottom:10px;">
           <div class="col-md-6">
       <a >
           <i class="glyphicon glyphicon-ok-sign" ></i>
       </a>
       </div>
       <div class="col-md-6">
       <h4><%= list  %> Listings</h4>
       </div>
       </div>
       <div class="row">
         <div class="col-md-12">
          <a href=""> <h4>Visit</h4></a>
         </div>
         </div>
       </div>
     </div>
     </div>

     <div class="row ">
     <div class="col-md-12 col-xs-12">
       <div class="panel panel-default agents-table">
         <div class="panel-body">Agents</div>
         <div class="panel-footer">
           <div class="table-responsive">
        <table class="table">
          <thead>
           <th>Name</th>
           <th>Email</th>
           <th>Mobile No</th>
          </thead>
          <tbody>
            <% for(i=0; i<users.length; i++) { %>
           <tr>
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].phoneno %></td>
           </tr>
           <% } %>
          </tbody>
        </table>
      </div>
         </div>
       </div>
     </div></div>


</div>
</div>

</div>

<% include ../partial/dash-scripts %>
</body>
</html>
