
<!doctype html>
<html>
<% include ../partial/admin-head.ejs %>
<body>
<div id="wrapper">
  <% include ../partial/dash-header.ejs %>
  <% include ../partial/side-bar.ejs %>

  <div id="page-wrapper" >
   <div id="page-inner">

     <div class="content">



      <div id="single" class="index-items">

     <div class="row">
       <% if(lists.length>0) { %>
       <% for(i=0; i<lists.length; i++) { %>
     <div class="col-md-offset-1 col-md-3 col-xs-6">

       <div class=" index-item-box">
         <div class="admin-cat-title">
           <a ><h5><strong><%= lists[i].category %> </strong>   < / > <%= lists[i].status %></h></a>
         </div>
     <div class="index-content-box">
       <a href="" class=""><img src="/<%= lists[i].image %>" alt="" class="" height='100px' width='100px' ></a>
       <div class="index-cont">
        <h4><strong>Location:</strong><%= lists[i].location %> </h4>
        <a href="/list<%= lists[i].id %>" class="btn btn-success" style="margin-bottom:5px">Update</a>
       </div>
     </div>
   </div>
     </div>
<% } %>
<% }else{ %>
  <div class="col-md-offset-1 col-md-8 col-xs-8">

    <div class=" jumbotron">
      <h2>OOPS!!!!. There are no listings yet!</h2>
</div>
  </div>
  <% } %>
   </div>



      </div>


    </div>



</div>
</div>

</div>

<% include ../partial/dash-scripts %>
</body>
</html>
