<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body class="">
  <header>
<% include ../partial/heady.ejs %>
<% include ../partial/header.ejs %>
</header>
<!-- ASIDE NAV AND CONTENT -->
<div class="line">
   <div class="box">
      <div class="margin2x">
         <!-- CONTENT -->
         <section class="s-12 m-8 l-9 center">

            <div class="row" style="border-style:ridge; margin-bottom:20px;padding-bottom:5px;">
            <div class="col-md-3 col-lg-3 col-xs-12" style="padding-top:5px">
            <img src="<%= user.logo %> " alt="Business Logo" title="Business logo" class="thumbnail img-responsive" height="100px" width="100%">
          </div>
        <div class="col-md-6 col-lg-6 col-xs-9">
        <div class="subtitle">Business Details :</div>
        <div>Business Title : <em><%= user.title %> </em></div>
        <div>Registration No : <em><%= user.regNo %> </div>
        <div><em><%= user.description %> </div>
      </div>
    <div class="col-md-3 col-lg-3 col-xs-3">
    <div class="subtitle">Business Address :</div>
    <div><em><%= user.location %> </div>
    <div>Website : <em><%= user.website %> </div>
  </div>
</div>

<div class="row" style="border-style:ridge; margin-bottom:20px;padding-bottom:5px;">
<div class="col-md-4 col-lg-4 col-xs-12">
<div class="subtitle">Name :</div>
<div> <em><%= user.name %> </div>
</div>
<div class="col-md-4 col-lg-4 col-xs-12">
<div class="subtitle">Email :</div>
<div><%= user.email %> </div>
</div>
<div class="col-md-4 col-lg-4 col-xs-12">
<div class="subtitle">Phone No :</div>

<div>  <em><%= user.phoneno %> </div>
</div>
</div>

<div class="row" style="border-style:ridge; margin-bottom:20px;padding-bottom:5px; padding-top:5px;">
<div class="col-md-2 col-lg-2 col-xs-12">
</div>
<div class="col-md-8 col-lg-8 col-xs-12">
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"> Account</i></button>
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"> Products/Images</i></button>
  <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o"> Account</i></button>

</div>
<div class="col-md-2 col-lg-2 col-xs-12">
</div>
</div>

<div class="row" style="border-style:ridge; margin-bottom:20px;padding-bottom:5px; padding-top:5px;">
<div class="col-lg-12 col-md-12 col-xs-12">
<div class="subtitle">Business Images/Products</div>
<div class="row">
<div class="col-lg-3 col-md-3 col-xs-6">
<img src="" alt="products" title="Product 1" class="thumbnail img-responsive" height="100px" width="100%"></div></div>
</div>
         </section>

      </div>
   </div>
</div>
<!-- FOOTER -->
<% include ../partial/footer.ejs %>

<% include ../partial/footer-script.ejs %>
</body>
</html>
