<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

<div class="container-fluid big-wraper">

    <div class="top-section">
      <% include ../partial/top-section.ejs %>
    </div>
   <div class="content">

    <div id="single" class="index-items">

<!-- Search section -->
<div class="search">
<% include ../partial/search.ejs %>
</div>
<!-- End of search section -->

      <div class="row" style="margin-top:30px;">
      <div class="col-md-offset-1 col-md-10 col-xs-10">
   <div class="">
     <h3 class="subtitle"> Top Ads >>></h3>
   </div>
   <div class="row ind">
     <% for(i=0; i<rooms.length; i++) { %>
   <div class="col-md-4 col-xs-6">
     <div class=" ">
      <a href="/clroom<%= rooms[i].id %>"><h4 class=""><strong><%= rooms[i].title %> </strong>  </h4></a>
      </div>
     <div class="row">
     <div class="col-md-5 col-xs-5">
     <a href="/clroom<%= rooms[i].id %>" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='100px' width='100px' ></a>
      </div>
      <div class="col-md-7 col-xs-7">

      <h5><strong>Location:</strong><%= rooms[i].location %> </h5>
      <h5><strong>Posted On:</strong> <%= rooms[i].date %> </h5>
      <h3 style="margin-bottom : 5px; color : blue" > Ksh. <%= rooms[i].price %> </h3>

     </div>

   </div>

   </div>
<% } %>

 </div>
    </div>
    </div>

    <div class="row" style="margin-top:30px;">
    <div class="col-md-offset-1 col-md-10 col-xs-10">
 <div class="">
   <h3 class="subtitle">Classified Ads >>></h3>
 </div>
 <div class="row ind">
   <% for(i=0; i<rooms.length; i++) { %>
   <% if(rooms[i].category == "Bed Sitter") { %>
 <div class="col-md-4 col-xs-6">
   <div class=" ">


   <div class="row">
   <div class="col-md-5 col-xs-5">
   <a href="/clroom<%= rooms[i].id %>" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='100px' width='100px' ></a>
    </div>
    <div class="col-md-7 col-xs-7">
    <h5><strong>Location:</strong><%= rooms[i].location %> </h5>
    <h5><strong>Availability:</strong> <%= rooms[i].status %> </h5>
    <h5><strong>Price:</strong> Ksh. <%= rooms[i].price %> </h5>
    <a href="/clroom<%= rooms[i].id %>" class="btn btn-success" style="margin-bottom:5px">View</a>

   </div>

 </div>
</div>
 </div>
<% } %>
<% } %>

</div>
  </div>
  </div>

    </div>


  </div>

  <% include ../partial/footer.ejs %>

</div>

</body>
</html>
