<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

<div class="container-fluid big-wraper">

    <div class="row top-section">
        <div class="col-md-12 col-xs-12">
          <% include ../partial/header.ejs %>

        </div>
    </div>

   <div class="content">
    <div class="row ">

      <div class="col-md-12 col-xs-12">
        <div class="slider"></div>

      </div>

    </div>


    <div id="single" class="index-items">

      <div class="row" style="margin-top:30px;">
      <div class="col-md-offset-1 col-md-10 col-xs-10">
   <div class="">
     <h3 class="subtitle">Category /<a href=""> Single Rooms >>></a></h3>
   </div>
   <div class="row ind">
     <% for(i=0; i<rooms.length; i++) { %>
     <% if(rooms[i].category == "single") { %>
   <div class="col-md-4 col-xs-6">
     <div class=" ">

     <div class="row">
     <div class="col-md-5 col-xs-5">
     <a href="/clroom<%= rooms[i].id %>" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='100px' width='100px' ></a>
      </div>
      <div class="col-md-7 col-xs-7">
      <h5><strong>Location:</strong><%= rooms[i].location %> </h5>
      <h5><strong>Availability:</strong> <%= rooms[i].status %> </h5>
      <h5><strong>Price:</strong> Ksh. <%= rooms[i].price %> </h5>
      <a href="/clroom<%= rooms[i].id %>" class="btn btn-success" style="margin-bottom:5px">View</a>

     </div>

   </div>
 </div>
   </div>
<% } %>
<% } %>

 </div>
    </div>
    </div>

    <div class="row" style="margin-top:30px;">
    <div class="col-md-offset-1 col-md-10 col-xs-10">
 <div class="">
   <h3 class="subtitle">Category /<a href=""> Bed Sitter >>></a></h3>
 </div>
 <div class="row ind">
   <% for(i=0; i<rooms.length; i++) { %>
   <% if(rooms[i].category == "Bed Sitter") { %>
 <div class="col-md-4 col-xs-6">
   <div class=" ">


   <div class="row">
   <div class="col-md-5 col-xs-5">
   <a href="/clroom<%= rooms[i].id %>" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='100px' width='100px' ></a>
    </div>
    <div class="col-md-7 col-xs-7">
    <h5><strong>Location:</strong><%= rooms[i].location %> </h5>
    <h5><strong>Availability:</strong> <%= rooms[i].status %> </h5>
    <h5><strong>Price:</strong> Ksh. <%= rooms[i].price %> </h5>
    <a href="/clroom<%= rooms[i].id %>" class="btn btn-success" style="margin-bottom:5px">View</a>

   </div>

 </div>
</div>
 </div>
<% } %>
<% } %>

</div>
  </div>
  </div>

    </div>


  </div>

  <% include ../partial/footer.ejs %>

</div>

</body>
</html>
