<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>
<header>
  <% include ../partial/heady.ejs %>
  <% include ../partial/search-list.ejs %>
</header>
  <div class="line">
     <div class="box">
        <div class="margin2x">
           <!-- CONTENT -->
           <section class="s-12 m-8 l-9 center">
      <div class="row" style="margin-top : 30px;">
      <div class="col-md-9 col-xs-12">

      <% for(i=0; i<list.length; i++) { %>
        <div class="row ">

        <div class="col-md-7 col-xs-7">
          <h4 class="" style="color : blue"><strong><%= list[i].title %> </strong>  </h4>
        </div>
      </div>
      <div class="row">

      <div class="col-md-3 col-xs-6">
        <div class="  container-fluid">

      <div class="index-content-box">
        <a href="" class=""><img src="/<%= list[i].image %>" alt="" class="img-responsive thumbnail" style="height:150px; width:140px;" ></a>

      </div>

    </div>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class=" container-fluid">

      <div class="row">

        <div class="col-md-10 col-xs-12">

         <h5><strong>Location:</strong><%= list[i].location %> </h5>
         <h5><strong>Category:</strong> <%= list[i].category %> </h5>
         <div class="text-center" style="background-color :#f5f5ef; padding-top:12px" ><h4><strong></strong> <%= list[i].info %> </h4></div>
        </div>
        <div class="col-md-2 col-xs-12">
          <% for(y=0; y<agent.length; y++) { %>
          <h4><strong>Agent </strong>  </h4>
          <h5><strong>Name:</strong><%= agent[y].name %> </h5>
          <h5><strong>Email:</strong><%= agent[y].email %></h5>
          <h5><strong>Mobile No:</strong> <%= agent[y].phoneno %> </h5>
             <% } %>

        </div>
      </div>

    </div>
      </div>

  </div>
 <% } %>

 <br>
 <div class="container-fluid" style="margin-bottom : 50px;">
   <h3 class="subtitle">Gallery</h3>
   <div class="margin">

   </div>
     </div>
</div>
  <div class="l-3 m-3 s-12 aside">
    <h3 class="subtitle">Related Category</h3>
    <% for(i=0; i<cat.length; i++) { %>
      <div class="row ">

      <div class="col-md-12 col-xs-12">
        <h5 class="" style="color : blue"><strong><%= cat[i].title %> </strong>  </h5>
      </div>
    </div>
    <div class="row">
    <div class="col-md-3 col-xs-3">
     <a href="/clroom<%= cat[i].id %>" class=""><img src="/<%= cat[i].image %>" alt="" class="" height='120px' width='60px' ></a>
    </div>
    <div class="col-md-9 col-xs-9">
      <h5><strong>Location:</strong><%= cat[i].location %> </h5>
    </div>
  </div><hr>
<% } %>
  </div>
  </div>

</div>


    </div>
  </div>
</div>

<% include ../partial/footer-script.ejs %>
</body>
</html>
