<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>
<header>
  <% include ../partial/heady.ejs %>
  <% include ../partial/search-list.ejs %>
</header>
  <!-- ASIDE NAV AND CONTENT -->
  <div class="line">
     <div class="box">
        <div class="margin2x">
           <!-- CONTENT -->
           <section class="s-12 m-8 l-9 right">
              <h1>Top Ads</h1>
              <div class="margin">
                <% for(i=0; i<rooms.length; i++) { %>
                 <div class="s-12 m-6 l-6">
                   <a href="/clist<%= rooms[i].id %>"><h3 class="" style="color : blue"><%= rooms[i].title %></h3></a>
                   <div class="s-12 m-4 l-4">

                    <a href="/clist<%= rooms[i].id %>"><img src="/<%= rooms[i].image %>" class="img-responsive thumbnail" style="height:117px; width:100px;"></a>
                    </div>
                    <div class="s-12 m-8 l-8" style="padding-left : 4px;">
                    <h4 class="margin-bottom"><strong>Location</strong> | <%= rooms[i].location %></h4>
                    <h4 class="margin-bottom" style=" color : #4d4d00;"><strong> <%= rooms[i].info %></strong></h4>
                 </div>
                 </div>
                  <% } %>
              </div>
           </section>
           <!-- ASIDE NAV -->
               <aside class="s-12 m-4 l-3">
                  <div class="aside-nav minimize-on-small">
                     <p class="aside-nav-text">Sidebar navigation</p>
                     <ul>
                        <li><a>Home</a></li>
                        <li>
                           <a>Product</a>
                           <ul>
                              <li><a>Product 1</a></li>
                              <li><a>Product 2</a></li>
                              <li>
                                 <a>Product 3</a>
                                 <ul>
                                    <li><a>Product 3-1</a></li>
                                    <li><a>Product 3-2</a></li>
                                    <li><a>Product 3-3</a></li>
                                 </ul>
                              </li>
                           </ul>
                        </li>
                        <li>
                           <a>Company</a>
                           <ul>
                              <li><a>About</a></li>
                              <li><a>Location</a></li>
                           </ul>
                        </li>
                        <li><a>Contact</a></li>
                     </ul>
                  </div>
               </aside>
            </div>
         </div>
      </div>

        </div>
     </div>
  </div>
  <!-- FOOTER -->


  <% include ../partial/footer.ejs %>


<% include ../partial/footer-script.ejs %>
</body>
</html>
