<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

<div class="container-fluid big-wraper">

  <div class="row top-section">
    <% include ../partial/top-section.ejs %>
  </div>

   <div class="content">


    <div id="single" class="index-items ">

      <!-- Search section -->
      <div class="search">
        <% include ../partial/search-list.ejs %>
      </div>
      <!-- End of search section -->


  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
   <div class="row">
     <% for(i=0; i<rooms.length; i++) { %>
   <div class="col-md-4 col-xs-6 " style="margin-bottom : 20px;">
     <div class=" ">
      <a href="/clroom<%= rooms[i].id %>"><h4 class=""><strong><%= rooms[i].title %> </strong>  </h4></a>
      </div>
     <div class="row " >
       <div class="col-md-6 col-xs-12" >
     <a href="/clroom<%= rooms[i].id %>" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='130px' width='150px' ></a>
      </div>
     <div class="col-md-6 col-xs-12">
     <div class="index-cont">
      <h5><strong>Location:</strong><%= rooms[i].location %> </h5>
      <h5><strong>Posted On:</strong> <%= rooms[i].date %> </h5>
      <h3 style="margin-bottom : 5px; color : blue" > Ksh. <%= rooms[i].price %> </h3>
     </div>

   </div>
</div>
   </div>
<% } %>

 </div>
</div>
  </div>



    </div>


  </div>

  <% include ../partial/footer.ejs %>

</div>

</body>
</html>
