<!doctype html>
<html>
<% include ../partial/head.ejs %>
<body>

<div class="container-fluid big-wraper">

    <div class="row top-section">
        <div class="col-md-12 col-xs-12">
          <% include ../partial/header.ejs %>

        </div>
    </div>

   <div class="content">
    <div class="row ">

      <div class="col-md-12 col-xs-12">
        <div class="search">
          <!-- /contact info -->
          <div style="margin-bottom :20px; margin-top :20px;">
                  <form id="contact-form" method="POST" action="/search" >
                  <div class="col-md-offset-2 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                     <select class="form-control" id="cat" name="Category" required="true" style="background-color : inherit">
                       <option  value="">Select Categoryt</option>
                       <option  value="All">All</option>
                       <option  value="single">Single</option>
                       <option  value="bedsitter">Bed Sitter</option>
                       <option  value="one">One Bedroom</option>
                       <option  value="two">Two BedRooms</option>
                       <option  value="three">Three BedRooms</option>
                     </select>
                   </div>
                  </div>
                  <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                     <select class="form-control" id="location" required="true" name="location" style="background-color : inherit">
                       <option value="">Select Location</option>
                       <option  value="All">All</option>
                       <option value="Baringo">Baringo</option>
                       <option value="Bomet">Bomet</option>
                       <option value="Bungoma">Bungoma</option>
                       <option value="Busia">Busia</option>
                       <option value="Marakwet">Elgeyo Marakwet</option>
                       <option value="Embu">Embu</option>
                       <option value="Garissa">Garissa</option>
                       <option value="Homa">Homa Bay</option>
                       <option value="Isiolo">Isiolo</option>
                       <option value="Kajiado">Kajiado</option>
                       <option value="Kakamega">Kakamega</option>
                       <option value="Kericho">Kericho</option>
                       <option value="Kiambu">Kiambu</option>
                       <option value="Kilifi">Kilifi</option>
                       <option value="Kirinyaga">Kirinyaga</option>
                       <option value="Kisii">Kisii</option>
                       <option value="Kisumu">Kisumu</option>
                       <option value="Kitui">Kitui</option>

                     </select>
                   </div>
                  </div>
                   <div class="col-md-3 col-sm-12 col-xs-12">
                     <button type="submit" class="btn btn-style blue">Search</button>
                   </div>
                   </form>
                 </div><br><br>
        </div>

      </div>

    </div>


    <div id="single" class="index-items container-fluid">

  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-xs-12">
   <div class="row">
     <% for(i=0; i<rooms.length; i++) { %>
   <div class="col-md-4 col-xs-6 ">
<div class="">

     <div class="row " >
       <div class="col-md-6 col-xs-12" >
     <a href="" class=""><img src="/<%= rooms[i].image %>" alt="" class="" height='130px' width='150px' ></a>
      </div>
     <div class="col-md-6 col-xs-12">
     <div class="index-cont">
      <h4><strong><%= rooms[i].category %></strong> </h4>
      <h4><strong>Status:</strong> <%= rooms[i].status %> </h4>
      <h4><strong>Location:</strong><%= rooms[i].location %> </h4>
      <h4><strong>Price:</strong> Ksh. <%= rooms[i].price %> </h4>
      <a href="/clroom<%= rooms[i].id %>" class="btn btn-success" style="margin-bottom:5px">View</a>
     </div>

   </div>
</div>
 </div>
   </div><br>
<% } %>

 </div>
</div>
  </div>



    </div>


  </div>

  <% include ../partial/footer.ejs %>

</div>

</body>
</html>
